@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:100,200,300,400&display=swap&subset=latin-ext');
body,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: .9em;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/* COMPONENTES GENERALES */

.title {
    font-family: 'Raleway', 'arial', 'microsoft yahei';
    font-weight: 300;
}

.subtitle {
    padding-top: 8%;
    padding-bottom: .2em;
    font-family: 'Raleway', 'arial', 'microsoft yahei';
    font-weight: 300;
    font-size: 450%;
}

.subtitle span:first-child {
    color: #3D444C;
}

.subtitle span:nth-child(2) {
    color: #4688EB;
}

.paragraph {
    font-family: 'Montserrat', 'arial', 'microsoft yahei';
    font-size: 1.2em;
    line-height: 1.75em;
    color: #666;
}

.buttonEnd {
    margin-top: 20em;
    display: flex;
    align-self: center;
    justify-content: center;
}

.buttonCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .2em;
    padding-right: .2em;
    height: 70px;
    width: 235px;
    border-radius: 5px;
    background-color: #4292FF;
    box-shadow: 0 2px #256dcf;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.button a {
    color: #fff;
    font-size: 1.2em;
}


/* NAVIGATION BAR */

.navbarPrimary {
    /* position: sticky; */
    color: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    background-color: transparent;
    height: 5em;
    z-index: 999;
    transition: 300ms;
}

.navbarSecondary {
    color: black;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    height: 5em;
    z-index: 999;
    transition: 300ms;
}

.navContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
    margin-right: 9%;
    height: 5em;
}

.navColor1 {
    color: #fff;
}

.navColor2 {
    color: black;
}

.navContent a:hover {
    color: #408CF3;
    text-decoration: none
}

.navLogo {
    left: 0;
    top: 0px;
    width: 258px;
    height: 57px;
    text-indent: -99em;
    overflow: hidden;
    cursor: pointer;
}

.logo1 {
    background: url(../../resources/images/topbarlogowhite.png) no-repeat;
}

.logo2 {
    background: url(../../resources/images/topbarlogo.png) no-repeat;
}

.navTopMenu {
    display: flex;
    text-decoration: none;
    align-content: center;
    padding-right: 12em;
    cursor: pointer;
}

.navTopMenu a {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3px;
    line-height: 73px;
    text-decoration: none;
    cursor: pointer;
}


/* INICIO DE PRIMERA PANTALLA */

.firstScreen {
    height: 48em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: black;
}

.firstScreenImg {
    background: url('../../resources/images/topbanner.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    top: 0px;
}

.firstScreenBanner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 24em;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.firstScreenBanner h2 {
    display: flex;
    align-self: flex-start;
    font-size: 5.1em;
    position: absolute;
    line-height: 100%;
}

.firstScreenBanner h4 {
    display: flex;
    align-self: center;
    position: absolute;
    margin-top: -1%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
}

.firstScreenScroll {
    position: relative;
    bottom: 4em;
    text-align: center;
    color: #C4C4C4;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 200;
}

.firstScreenMore {
    display: block;
    width: 9px;
    height: 9px;
    margin: -4px auto 0;
    border: solid #B9B9BA;
    border-width: 0 1px 1px 0;
    position: relative;
    transform: rotate(45deg);
}


/* INICIO DE SEGUNDA PANTALLA */

.secondScreen {
    perspective: 1px;
    width: 100%;
    height: 90em;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

.secondScreenIphone {
    margin-top: 5em;
    height: 62em;
}

.flyImgDiv {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateZ(-2px) scale(3);
}

.flyImg {}


/* INICIO DE TERCERA PANTALLA */

.thirdScreen {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #e5e7e9;
}

.thirdScreenIphone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatBubble {
    position: absolute;
    background-image: url(../../resources/images/mobile2trans1033.png);
    height: 120px;
    width: 340px;
    margin-top: 15em;
    margin-left: -12em;
    border-style: none;
    cursor: pointer;
}

.japaneseLang {
    background-position: 0 -300px;
}

.japaneseLang:hover {
    background-position: 0 -420px;
}

.englishLang {
    background-position: 0 0;
}

.englishLang:hover {
    background-position: 0 -220px;
}

.chatArrow {
    position: absolute;
    background-image: url(../../resources/images/mobile2trans1033.png);
    height: 160px;
    width: 390px;
    background-position: 0 -525px;
    margin-left: -12em;
    margin-top: 21em;
    border-style: none;
}

.thirdScreenContent {
    margin-top: 8em;
    margin-left: -5em;
}


/* INICIO DE CUARTA PANTALLA */

.fourthScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40em;
    background-image: url(../../resources/images/video.gif);
    background-size: cover;
}

.fourthScreen::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40em;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
}

.fourthScreenContent {
    color: #fff;
    text-align: center;
    z-index: 200;
}


/* INICIO DE QUINTA PANTALLA */

.fifthScreen {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 40em;
    background-color: #fff;
    text-align: center;
}

.iconsDiv {
    margin-top: 5%;
    width: 100%;
}

.icon {
    transition: all 1s ease 0s;
    display: inline-block;
    width: 134px;
    height: 134px;
    background-image: url('../../resources/images/mobile4icons.png');
}


/* INICIO DE LA SEXTA PANTALLA */

.sixthScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 140%;
    text-align: center;
    overflow: hidden;
    background-image: url('../../resources/images/mobile5bg.jpg');
}

.sixthScreenIphone {
    margin-top: 4%;
}

.scrollingIphone {
    display: flex;
    flex-direction: column;
    z-index: 5;
    margin-top: -36.5em;
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.scrollingIphone::-webkit-scrollbar {
    display: none;
}


/* INICIO DE LA ÚLTIMA PANTALLA */

.finalScreen {
    height: 50em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #f2f2f2, #ebebeb);
    border-bottom: 8em solid #fff;
}

.mobile6img {
    margin-top: 4%;
    height: 50em;
    width: 60em;
}

.tryNow {
    margin-top: -2em;
    height: 27em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
}


/* INICIO DEL FOOTER */

.footer {
    height: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #353C49;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent a {
    text-align: center;
    color: #959ead;
    text-decoration: none;
    white-space: nowrap;
    transition: color .25s;
    margin: 3em;
    cursor: pointer;
    font-weight: 600;
}

.footerContent a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.footerShare {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-icons {
    margin: 20px 20px 0 20px;
    width: 30px;
    height: 30px;
    background: url('../../resources/images/icons-share.png') no-repeat;
    cursor: pointer;
}

.share-icons-fb {
    background-position: 0 -30px;
}

.share-icons-tw {
    background-position: -30px -30px;
}

.share-icons-wei {
    background-position: -60px -30px;
}

.share-icons-wb {
    background-position: -90px -30px;
}

.share-icons-fb:hover {
    background-position: 0 0;
}

.share-icons-tw:hover {
    background-position: -30px 0;
}

.share-icons-wei:hover {
    background-position: -60px 0;
}

.share-icons-wb:hover {
    background-position: -90px 0;
}

.copyright {
    font-family: 'Raleway', 'arial', 'microsoft yahei';
    font-weight: 300;
    color: #959ead;
    font-size: 0.7em;
    margin-top: 2em;
}