@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:100,200,300,400&display=swap&subset=latin-ext');
body,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: .9em;
}


/* COMPONENTES GENERALES */

.title {
    font-family: 'Raleway', 'arial', 'microsoft yahei';
    font-weight: 300;
}

.subtitle {
    padding-top: 8%;
    padding-bottom: .2em;
    font-family: 'Raleway', 'arial', 'microsoft yahei';
    font-weight: 300;
    font-size: 450%;
}

.subtitle span:first-child {
    color: #3D444C;
}

.subtitle span:nth-child(2) {
    color: #4688EB;
}

.paragraph {
    font-family: 'Montserrat', 'arial', 'microsoft yahei';
    font-size: 1.2em;
    line-height: 1.75em;
    color: #666;
}

.buttonEnd {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    /* padding-bottom: 2.2%; */
}

.buttonCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .2em;
    padding-right: .2em;
    height: 70px;
    width: 235px;
    border-radius: 5px;
    background-color: #4292FF;
    box-shadow: 0 2px #256dcf;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.button a {
    color: #fff;
    font-size: 1.2em;
}


/* NAVIGATION BAR */

.navbar {
    position: sticky;
    top: 0;
    background-color: transparent;
    height: 5em;
    z-index: 5;
}

.navContent {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-right: 9%;
    justify-content: space-around;
    height: 5em;
}

.navContent a:hover {
    color: #408CF3;
    text-decoration: none
}

.navLogo {
    left: 0;
    top: 0px;
    width: 258px;
    height: 57px;
    background: url(../../resources/images/topbarlogowhite.png) no-repeat;
    text-indent: -99em;
    overflow: hidden;
}

.navTopMenu {
    display: flex;
    text-decoration: none;
    align-content: center;
    padding-right: 12em;
}

.navTopMenu a {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3px;
    line-height: 73px;
    color: #fff;
    text-decoration: none;
}


/* INICIO DE PRIMERA PANTALLA */

.firstScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #07080B;
}

.firstScreen img {
    background: url('../../resources/images/topbanner.jpg') no-repeat;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    top: 0px;
    opacity: 1;
}

.firstScreenBanner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: auto;
    width: 9em;
    height: 20em;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.firstScreenBanner h2 {
    display: flex;
    align-self: flex-start;
    font-size: 5.1em;
    position: absolute;
    line-height: 100%;
}

.firstScreenBanner h4 {
    display: flex;
    align-self: center;
    position: absolute;
    margin-top: 1.2%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
}

.firstScreenScroll {
    position: relative;
    bottom: 8%;
    text-align: center;
    color: #C4C4C4;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 200;
}

.firstScreenMore {
    display: block;
    width: 9px;
    height: 9px;
    margin: -4px auto 0;
    border: solid #B9B9BA;
    border-width: 0 1px 1px 0;
    position: relative;
    transform: rotate(45deg);
}


/* INICIO DE SEGUNDA PANTALLA */

.secondScreen {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 90em;
    background-color: #fff;
    text-align: center;
}

.secondScreenIphone {
    text-align: center;
    margin-top: 5em;
    height: 62em;
}

.flyImgSpanL1 {
    position: absolute;
    pointer-events: none;
    display: block;
}

.flyImg {
    position: absolute;
    height: 100%;
    vertical-align: bottom;
    left: 0;
}


/* INICIO DE TERCERA PANTALLA */

.thirdScreen {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 282.5%;
    width: 100%;
    height: 100%;
    background-color: #e5e7e9;
}

.thirdScreenIphone {
    height: 115%;
}

.thirdScreenContent {
    margin-top: 8em;
    margin-left: -5em;
}


/* INICIO DE CUARTA PANTALLA */

.fourthScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 382.5%;
    width: 100%;
    height: 660px;
    background-color: black;
}

.fourthScreenContent {
    color: #fff;
    text-align: center;
}


/* INICIO DE QUINTA PANTALLA */

.fifthScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    top: 469%;
    width: 100%;
    height: 87%;
    background-color: #fff;
    text-align: center;
}

.iconsDiv {
    margin-top: 5%;
    width: 100%;
}

.icon {
    /* margin: 0 -68px; */
    margin: 0 55px;
    transition: all 1s ease 0s;
    display: inline-block;
    width: 134px;
    height: 134px;
    background: url(..\\..\\resources\\images\\mobile4icons.png) no-repeat;
}